/*-------------------------------- INDEX --------------------------------*/
*{
	margin: 0;
    padding: 0;
}
.advertencia{
    text-align: center;
    font-size: 10px ;
    color: rgb(255, 255, 255);
    background-color: red;
}
.fondo{
    background-color: black;
    /*background-image: url(../Recursos/PMC1.png);*/
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

header{
    display:flex;
    justify-content: center;
}

.icon__link{
    height: 50px;
    background-color: black;
}
.icon__link:hover{
    -webkit-animation: tiembla 0.1s infinite;
}
.pmc__desc__S{
    font-size: 20px;
    color: rgb(185, 157, 202);
}
.pmc__desc__C{
    font-size: 20px;
    color: rgb(157, 202, 161);
}
.pmc__desc__F{
    font-size: 20px;
    color: rgb(163, 168, 163);
}
.pmc__desc__L{
    font-size: 20px;
    color: rgb(141, 141, 250);
}
.destacados__menu{
    display: flex;
    text-transform: uppercase;
    list-style-type: none;
}
.item__menu{
    text-decoration: none;    
    padding: 10px;
}

.main__section{
    display: grid;   
    grid-template-columns: 1fr; 
}

.bienvenida__titulo{
    text-align: center;    
    color: #B4A5A5;
}
.desc__breve{
    font-size: 20px;
    color: #ffffff;
}
.main__fondos{
    background: url(../Recursos/themanwithatie2.PNG) no-repeat right, linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);
    }
.main__titulo{
    text-align: left;
    color: #B4A5A5;
    font-size: 30px;
}

.main__destacado__reglas{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    list-style:none
}

.item__regla{
    color: rgb(255, 0, 0);
    font-family: impact;
    letter-spacing: 3px;
}

.item__reglas{
    color:rgb(202, 202, 202);
    text-decoration-line: underline;
}

.item__regla5{
    font-family: "courier new";
    text-decoration-line: line-through;
    color: #1a1b20;
}

.main__video{
    border-bottom: solid 15px #301B3F;
    display: flex;
    justify-content: left;
}
.section__rutina{
    background: url(../Recursos/micrf.png) no-repeat right, linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);
}
.titulo__rutina{
    font-family: 'Courier New', Courier, monospace;
    color: darkmagenta;
    text-align: left;
}

.main__rutina_lista{
    font-family: 'Square Peg', cursive;
    color: turquoise;
    border-radius: 10px;
    width: 100%;
}

.titulo__biblicos{
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.items__biblicos{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: underline;
    width: 40%;
}

/*
    

    https://codepen.io/enxaneta/full/adLPwv
    https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius





/*--------------------------------MITOS Y LEYENDAS--------------------------------*/

.fondo__mitos_y_leyendas{
    background-color: black;
    background-image: url(../Recursos/void.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.titulo__mitos{
    text-align: center;
}

.divs__mitos{
    font-size: 20px;
    border-radius: 10px;
    
}

.img__mitos{
    display: flex;

    justify-content: center;
}
.div__consejo{
    display: grid;
    
}
.div__img__oculto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.img__oculto{
    justify-self: center;
    gap: 10px;
}
.son__humanos{
    text-align: center;
}
.div__person{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.img__person{
    justify-self: center;
}

.hover__zoom:hover{
    transform:scale(2);
}

.black__rod{color: black;
    background-color: black;
}
.donde__estan{
    display: flex;
    justify-content: center;
}
.footer{
    color: rgb(255, 255, 255);
    font-size: 10px;
}



/* PSEUDO CLASES
:active
:hoover
:visited
:first-child
:last-child
*/

a:visited{
    content: "✔";
    color: pink;
}
a:active{
    color: blue;
}

/*--------------------------------NUESTROS ARTISTAS--------------------------------*/
.fondo__artistas{
    background-image: url(../Recursos/fondo.png);
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}

.artistas__soulster{
    display: flex;
    align-items: center;
    flex-direction: column;
}



.renders__soulster{ 
    display: grid; /* container*/
    border-top: 10px solid purple;
    border-bottom: 10px solid purple;

    /*como se declara una fila,  infitinas*/
    grid-template-rows: 32% 32% 32%;
    /*como se declara una columna,   hasta 12, 1fr(fraccion)*/
    grid-template-columns: 50% 50%;
    /*espacio entre celdas*/
    gap: 10px;
}

.renders__items{
    border: 5px solid black;
    background-size: cover;
    justify-self: center;
    background-attachment: inherit;
}

.sangre__y__oxido{
    font-size: 16px;
    background-color: black;
    color: blueviolet;
    border-radius: 10px;
}


.artistas__valtiel{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.dibujos__valtiel{
    display:grid;
    border-top: 10px solid rgb(81, 131, 138);
    border-bottom: 10px solid rgb(81, 131, 138);
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    gap: 3px;
}

.dibujos__items{
    border:5px solid red;
    background-size: cover;
    justify-self: center;
    background-position: inherit;
}

.artistas__lucho{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    justify-items: center;
}

.videos__lucho{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

*/
/*--------------------------------QUIENES SOMOS--------------------------------*/




.titulo__quienes{
    align-content: center;
    color: rgb(255, 0, 0);
    font-size: 30px;
    border-radius: 20px;
}

.destacados__PMC{   
    display: flex;
    justify-content: center;
}

.PMC__video{
    border-top: solid rgb(255, 0, 0);
    border-bottom: solid rgb(255, 0, 0);
    border-left: solid rgb(255, 0, 0);
    border-right: solid rgb(255, 0 , 0);
}

.destacados__quienes{
    
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-decoration:none;
}

.titulo__quienes2{
    color: red;
    display: flex;
    justify-content: center;
}

.destacados__soulster{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.titulo__soulster{
    color: blueviolet;
}

.img__soulster{    
    max-height: 400px;
}

.dl__soulster{
    color: blueviolet;
    background-color: black;
    border-radius: 5px;
}

.destacados__camila{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo__camila{
    color: green
}

.img__camila{
    max-height: 400px;
}

.dl__camila{
    color: green;
    background-color: black;
    border-radius: 5px;
}

.dd__personajes{
    font-size: 10px;
    font-family:'Segoe UI', sans-serif;
}
.destacados__valtiel{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo__valtiel{
    color:turquoise;
}

.img__valtiel{
    max-height: 400px;
}

.dl__valtiel{
    color: turquoise;
    background-color: black;
    border-radius: 5px;
}

.destacados__lucho{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo__lucho{
    justify-self: center;
    color: rgb(255, 174, 0);
}

.img__lucho{
    max-height: 400px;
}

.dl__lucho{
    color: rgb(255, 174, 0);
    background-color: black;
    border-radius: 5px;
}

.fondo__quienes_somos{
    background-color: rgb(0, 0, 0);
}

.fondo__quienes__somos{
    background-color: rgb(0, 0, 0);
}
/*--------------------------------CONTACTO--------------------------------*/
.fondo__contacto{
    background-image: url(../Recursos/ojo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
    background-color: rgb(30, 30, 30);
}

.link__persona{
    color: rgb(255, 0, 0);
}
.redes__contacto{
    display: grid;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.destacado__mensajeria{
    display: flex;
    flex-direction: column;
    color: rgb(255, 0, 0);
}

.titulo__mensajeria{
    font-size: 25px;
}
/*----------------GRID---------------*/
/*
.grid__container{
    display:grid;
    border: 12px solid purple;


    /*como se declara una fila,  infitinas*/
    /*grid-template-rows: 150px 150px 150px 150px;

    /*como se declara una columna,   hasta 12, 1fr(fraccion)*/
    /* grid-template-columns: 1fr 1fr 1fr;

    /*espacio entre celdas*/
    /*  gap: 15px
}*/
/*
.grid__item{
    border: 5px solid black;
}

.grid__uno{
    grid-row-start: 1;
    grid-row-end:3;
}

.grid__cuatro{
    grid-row:2/5;
    grid-column: 2/3;
}

.grid__cinco{
    grid-row:2/4;
    grid-column:3/4;
}
*/
/*
.grid__container{
    display: grid;
    grid-template-rows: 70px 500px 1fr;
    grid-template-areas:"header header header header"
                        "main main main aside"
                        "footer footer footer footer";
    gap:10px;
}
*/

/*
.grid__container{
    grid-template-areas:"header"
                        "main"
                        "footer";
}
*/

/*  MEDIDAS RELATIVAS
    REM--Es una medida estandar que se multiplica y toma de base el tamaño minimo de la letra
        del dispositivo(32px 1 REM= 32px) (12px 1 REM= 12px)

    EM-- Toma de base el tamaño minimo de M del dispositivo

    PORCENTAJES-- Son las mas faciles, las menos recomendadas

*/
@-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-5deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.8); }
    100%{ -webkit-transform:rotateZ( 5deg); }
}

@media (min-width: 720px) and (max-width: 1200px){
    
    .fondo__artistas{
        width: fit-content;
    }
    .renders__soulster{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .div__person{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
/*tablet */

@media (min-width: 541px) and (max-width: 720px){
    
    .main__video{
        max-width: 100%;
        max-height: 100%;
    }
    
    .artistas__soulster{
        max-width: 100%;
        max-height: 100%;
    }
    .renders__soulster{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .renders__items{
        max-width: 100%;
        max-height: 100%;
    }
    
    .dibujos__valtiel{
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: 100%;
    }
    
    .dibujos__items{
        max-width: 100%;
        max-height: 100%;
    }
    .videos__lucho{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .video__item{
        max-width: 350px;
        max-height: 350px;
    }
    .div__person{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
/*phone */
@media (min-width: 320px) and (max-width: 540px){
    
    .fondo{
        width: 100%;
        height: 100%;
    }
    .fondo__artistas{
        width: 100%;
        height: 100%;
    }
    .main__fondos{
        background:black;
    }
    .main__video{
        max-width: 320px;
        max-height: 320px;
    }
    .main__destacado__reglas{
        width: 100%;
    }
    .main__section1{
        display: grid;
        grid-template-rows: 1fr;
        justify-items: center;
    }
    .main__section2{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .main__rutina_lista{
        width: 100%;
    }
    .item__menu{
        font-size: 10px;
    }
    .items__biblicos{
        width: 100%;
    }
    .artistas__soulster{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .titulo__soulster{
        font-size: 50px;
    }

    .soulster__historia{
        color: blueviolet;
        text-align: center;
    }
    .renders__soulster{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        max-width: 100%;
    }
    img{
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }
    .renders__items{
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }
    .dibujos__valtiel{
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: 100%;
        max-width: 100%;
        overflow: hidden;
    }
    .dibujos__items{
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }
    .videos__lucho{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        overflow: hidden;
    }
    .video__item{
        max-width: 350px;
        max-height: 350px;
    }
    .div__person{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .donde__estan{
        max-width: 350px;
    }
}